// 每个主题独有的设置
.theme-#{$theme-name} {
  .main-layout {
    // 头部
    header {
      .main-header {
        .left {
          background: $theme-header-background-color;
          .content {
            // logo 背景颜色
            .logo-img {
              background: $theme-header-logo-background-color;
            }
            // 头部左侧背景颜色
            background: $theme-header-content-background-color;
            .title {
              // 标题文字颜色
              color: $theme-header-title-color;
            }
            .nav {
              // 菜单文字颜色
              color: $theme-header-color;
              .q-tab__label {
                font-size: 14px;
              }
            }
            // 菜单选中项文字颜色
            .menu-active {
              color: $theme-color;
              .q-tab__label {
                font-size: 16px;
              }
            }
          }
        }
      }
      .right {
        background: $theme-header-background-color;
        color: $theme-header-color;
        .content {
          // 头部左侧背景颜色
          background: $theme-header-content-background-color;
        }
      }
    }
    .interaction-root {
      .layer-manager-wrapper {
        .layer-switch {
          color: $theme-color;
        }
      }
    }

    .page-login {
      .form-login {
        background: $theme-page-login-background-color;
        color: $theme-page-login-color;
      }
      .btn-submit {
        background: $theme-color-alpha;
      }
      .icon {
        color: $theme-color;
      }
    }
    .page-index {
      .left-panel-fab {
        color: $theme-color;
        .left-panel {
          .datasrouce-title {
            color: $theme-page-index-datasrouce-title-color;
          }
        }
      }
    }
  }
  // 全局
  // loading
  .loading-ios {
    color: $theme-color;
  }
  // 滚动到顶部
  .scroll-top {
    color: $theme-color;
    background: $theme-scroll-top-background-color;
  }
  // quasar ui 随主题变化
  // q-input
  .q-field__label,
  .q-field__control,
  .q-field--highlighted .q-field__control {
    color: $theme-color !important;
  }
  .q-field__control:before {
    border-color: $theme-q-input-border-color !important;
  }
  .q-field__control:hover:before {
    border-color: $theme-color !important;
  }
  .q-field__input,
  .q-field__native,
  .q-field__prefix,
  .q-field__suffix {
    color: $theme-q-input-color;
  }
  // q-checkbox
  .q-checkbox__inner--truthy,
  .q-checkbox__inner--indet,
  .q-radio__inner--truthy {
    color: $theme-q-checkbox-truthy-color;
  }
  .q-checkbox__inner--falsy,
  .q-radio__inner--falsy {
    color: $theme-common-panel-list-border-color;
  }
  // q-scroll-area
  .q-scrollarea__thumb {
    background: $theme-scroll-color;
  }
  // q-menu
  .q-menu {
    color: $theme-q-menu-color;
    background: $theme-q-menu-background-color;
  }

  .q-card {
    color: $theme-q-card-color;
    background: $theme-q-card-background-color;
  }

  .theme-table-list,
  .log-table-list {
    color: $theme-q-card-color;
    background: $theme-q-card-background-color;
  }

  .common-panel.q-card {
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    .header {
      color: $theme-common-panel-header-color;
      background: $theme-common-panel-header-background-color;
    }
    .content {
      // height: 100%;
      color: $theme-common-panel-content-color;
      background: $theme-common-panel-content-background-color;
      .q-list {
        color: $theme-common-panel-list-color;
        border-color: $theme-common-panel-list-border-color;
        .q-expansion-item--expanded .q-item__section--side {
          color: $theme-color-alpha;
        }
        .q-item-type + .q-item-type {
          border-top-color: $theme-common-panel-list-border-color;
        }
        .dataset-icon,
        .location-icon,
        .feature-info-field-icon {
          color: $theme-color;
        }
        .q-item__label--caption {
          color: $theme-common-panel-list-color;
        }
      }
      .q-separator {
        background: $theme-common-panel-list-border-color;
      }
    }
  }
}
