// @use 'sass:math'
$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$yellow: #f9ad3b;

$left-panel-width: 412px;

@import 'quasar/src/css/variables.sass';
